.DS_Store

# Xcode user and machine-specific files
xcuserdata/
*.xcuserdatad/
*.xcuserstate

# Xcode build output
DerivedData/
build/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.build/
Package.resolved
/scripts
